* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__container::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 40px);
  border: 1px solid #BABBC5;
  left: 20px;
  bottom: 0px;
}
.header__wrapper-logo {
  width: 184px;
  height: 26px;
}
.header__list {
  display: flex;
  list-style: none;
  gap: 4px;
}
.header__link {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  min-width: 131px;
  width: 100%;
  padding: 41px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.header__link:hover {
  border-bottom: 3px solid #BABBC5;
}
.header__link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}

.banner {
  background-image: url("images/banner.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding: 230px 0 120px;
  margin-bottom: 116px;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
  position: absolute;
  left: 0;
  top: 0;
}
.banner__container {
  z-index: 1;
  position: relative;
}
.banner__title {
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31.43px;
}
.banner__text {
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 79.57px;
  max-width: 1000px;
}
.banner__button {
  display: block;
  border: none;
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  max-width: 370px;
  width: 100%;
  background-color: #FF4343;
  padding: 26px 10px;
  margin: 0 auto;
  text-transform: uppercase;
}
.banner__button:hover {
  background-color: #E71414;
}
.banner__button:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.options {
  margin-bottom: 170px;
}
.options__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 88px;
}
.options__item {
  max-width: 370px;
  width: 100%;
}
.options__wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto 51px;
}
.options__title {
  font-family: "Raleway", serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.options__text {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}

.design {
  margin-bottom: 114px;
}
.design__container {
  max-width: 100%;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.design__wrapper-img {
  width: 100%;
  aspect-ratio: 1/0.9;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
.design__wrapper-img:hover .design__overlay {
  opacity: 1;
}
.design__wrapper-img:active .design__overlay {
  background-color: rgba(185, 12, 12, 0.8);
}
.design__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  opacity: 0;
  transition: opacity 0.3s linear;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.design__overlay-title {
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.design__overlay-text {
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.design__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  margin-bottom: 114px;
}
.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__worker {
  max-width: 270px;
  width: 100%;
}
.team__wrapper-photo {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__photo {
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 5.29px;
}
.team__profession {
  font-size: 18px;
  line-height: 21px;
  color: #FF4343;
  font-family: "Raleway", serif;
  font-weight: 400;
  margin-bottom: 17.86px;
  text-transform: uppercase;
}
.team__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-family: "Raleway", serif;
  font-weight: 400;
  margin-bottom: 37.86px;
}
.team__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 39px);
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.team__wrapper-link {
  display: block;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  margin-bottom: 114px;
}
.testimonials__container {
  max-width: 100%;
  padding: 0;
  width: 100%;
}
.testimonials__wrapper-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 31px;
}
.testimonials__wrapper-img {
  overflow: hidden;
}
.testimonials__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials__content {
  background-color: #5C3249;
  padding: 116px 129px;
}
.testimonials__text {
  font-family: "Cardo", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 48.74px;
  color: #fff;
  margin-bottom: 36px;
}
.testimonials__name {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15.26px;
  color: #fff;
}
.testimonials__container-dots {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: center;
}
.testimonials__dot {
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  background-color: #fff;
}
.testimonials__dot:hover {
  background-color: #7E5D6F;
}/*# sourceMappingURL=style.css.map */